body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 10px;
}
.app {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  height: 100%;
  width: 30%;
}
.app > .controllers,
.app > .containers {
  width: 90%;
  border-radius: 10px;
  margin: 10px;
}
.controllers {
  display: flex;
  flex-direction: column;
  justify-self: center;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}
.controllers > * {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
/* containers */
.containers > div {
  padding: 30px;
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 200px;
}
.containers {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}
.div-1,
.div-3 {
  background-color: rgba(238, 248, 89, 0.5);
  position: relative;
}
.div-1 {
  top: 0;
  left: 0;
  bottom: 0;
}
.div-2 {
  position: absolute;
  bottom: 0;
  top: 150px;
  height: 200px;
  background-color: rgba(5, 130, 255, 0.6);
}
.div-3 {
}
.div-1,
.div-2,
.div-3 {
  width: 100%;
  /* background-color: rgba(0, 128, 255, 0.15); */
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}
.div-1 > *,
.div-3 > * {
  text-align: end;
}
.div-1 > *,
.div-2 > *,
.div-3 > * {
  background-color: rgba(27, 31, 35, 0.12);
}
